<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% for area in area_list.all %}
<li>
    {{ area.route }}
    {{ area.street_number }},
    {{ area.locality }},
    {{ area.administrative_area_level_1 }} T.K.
    {{ area.postal_code }},
    {{ area.country }}

</li>
{% endfor %}
</body>
</html>