<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action
            <li>{{ object.city }}</li>

<form action="" method="post">
{% csrf_token %}

 <input  type="text" name="city" >

    <input  type="submit" value="Update" >
</form>
</body>
</html>