{% load staticfiles static i18n %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <!--<link rel="stylesheet" href="{% static 'maps/css/map.css' %}">-->


</head>
<body>

<form method="post" action="">
    {% csrf_token %}
    <!--{% for field in area_form %}-->
    <!--<div>-->
        <!--<label for={{ field.id_for_label }} class="control-label">{{ field.label }}:</label>-->
        <!--{% render_field field %}-->
        <!--{{ field.errors }}-->
    <!--</div>-->
    <!--{% endfor %}-->


    <div id="locationField">
        <input id="id_place" name="id_place" placeholder="Εισάγετε περιοχή"
               onFocus="geolocate()" type="text">
        </input>
    </div>

    <table id="address">
        <tr>
            <td class="label">Διεύθυνση</td>
            <td class="slimField"><input class="field" id="strnum" name="street_number"
                                         disabled="true"></input></td>

            <td class="wideField" colspan="2"><input class="field" id="addr" name="route"
                                                     disabled="true"></input></td>
        </tr>
        <tr>
            <td class="label">Περιοχή</td>
            <td class="wideField" colspan="3"><input class="field" id="area" name="locality"
                                                     disabled="true"></input></td>
        </tr>
        <tr>
            <td class="label">Πόλη</td>
            <td class="slimField"><input class="field"
                                         id="city" name="administrative_area_level_1" disabled="true"></input></td>
            <td class="label">Τ.Κ.</td>
            <td class="wideField"><input class="field" id="pcode" name="postal_code"
                                         disabled="true"></input></td>
        </tr>
        <tr>
            <td class="label">Χώρα</td>
            <td class="wideField" colspan="3"><input class="field"
                                                     id="country" name="country" disabled="true"></input></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-default">{% trans "Save" %}</button>
    <br><br>
</form>


<script type="text/javascript" src="{% static 'maps/js/map.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIjnS6o3QwYJonCs8eXRAP7cMSxrjdxwQ&libraries=places&callback=initAutocomplete"
        async defer>
</script>

</body>
</html>