
<form action="." method="post">
    {% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>

    <input type="submit" value="Add Place" class="submit"/>
</form>





{% load staticfiles static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
     <link rel="stylesheet" href="{% static "maps/css/map.css" %}">



</head>
<body>

<div id="locationField">
    <input id="autocomplete" placeholder="Εισάγετε περιοχή"
           onFocus="geolocate()" type="text">
    </input>
</div>

<table id="address">
    <tr>
        <td class="label">Διεύθυνση</td>
        <td class="slimField"><input class="field" id="street_number"
                                     disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
                                                 disabled="true"></input></td>
    </tr>
    <tr>
        <td class="label">Περιοχή</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
                                                 disabled="true"></input></td>
    </tr>
    <tr>
        <td class="label">Πόλη</td>
        <td class="slimField"><input class="field"
                                     id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Τ.Κ.</td>
        <td class="wideField"><input class="field" id="postal_code"
                                     disabled="true"></input></td>
    </tr>
    <tr>
        <td class="label">Χώρα</td>
        <td class="wideField" colspan="3"><input class="field"
                                                 id="country" disabled="true"></input></td>
    </tr>
</table>
<script type="text/javascript" src="{% static 'maps/js/map.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIjnS6o3QwYJonCs8eXRAP7cMSxrjdxwQ&libraries=places&callback=initAutocomplete"
        async defer>
</script>

</body>
</html>